# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Caches
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
env/
venv/
ENV/

# Large archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db
